<main class="wrapper">
<section id="scene_container">
  <div class="scene first_scene">
    <div id="page1">
        <section class="section parallax bg1">
          <div id="nannyBlock">
          </div>
          <button type="button" id="startScroll">Proceed</button>
          <div id="darkness">
            <!--Darkens Screen with click eventListener  -->
          </div>
        </section>
    </div>
  </div>
  <div class="scene second_scene">
    <div id= "page2">
      <!-- <section class="section static">
      </section> -->
      <section class="section parallax bg2">
        <div id="nanny">
        <div id="nanny_sil">
        </div>
        <div id="nannyUmbrella">
        </div>
      </div>
      <span id="tree">
      </span>
        <p id="scene1Type">This is going to have many lines. I hope this works out properly. Scary story coming your way soon.</p>
        <p id="showType">
          <!--Type displays to this p-tag. See function pageOne-->
        </p>
        <!-- <div id="test">
        </div> -->

        <!-- <button type="button" id="butt" name="button">Push Me Reveal</button> -->
        <div id="lightning">
          <!--An element that "flickers" through transparent pieces of art. See Lightning under Scene1 css  -->
        </div>
      </section>
    </div>
  </div>

  <div class="scene third_scene">
    <div id="page3">
      <section class="section parallax bg7">
        <h1>More Front</h1>
        <p id="trialType3">This is going to have many lines. I hope this works out properly. Scary story coming your way soon.</p>
      </section>
    </div>
  </div>
  <div class="scene fourth_scene">
    <div id="green">
      <section class="section parallax bg3">
        <h1>To the Front</h1>
      </section>
    </div>
  </div>
  <div class="scene fifth_scene">
    <div id="orange">
      <section class="section parallax bg4">
        <h1>More</h1>
      </section>
    </div>
  </div>
  <div class="scene sixth_scene">
    <div id="pink">
      <section class="section parallax bg5">
        <h1>More</h1>
      </section>
    </div>
  </div>
    <div class="scene seventh_scene">
      <div id="grey">
        <section class="section parallax bg6">
          <h1>More</h1>
        </section>
      </div>
    </div>
</section>
</main>
<div id=scene1Background>
</div>


<!-- <script type="text/javascript" src="nanny.js"></script> -->
