<main class="wrapper">
<audio id="main" src="music/main.wav">

</audio>
<section id="scene_container">
  <div class="scene first_scene">
    <audio id="musicBox"src="/music/opening.wav">
    </audio>
    <audio id="creak"src="/music/creaky.mp3">
    </audio>
    <div id="page1">
        <section class="section parallax bg1">
          <div id="scratches">
          </div>
          <div id="nannyBlock">
          </div>
          <button type="button" id="startScroll">Proceed</button>
          <div id="darkness">
            <!--Darkens Screen with click eventListener  -->
          </div>
        </section>
    </div>
  </div>
  <div class="scene second_scene">
    <audio id="storm" src="/music/lightning.wav">
    </audio>
    <audio id="raven" src="music/raven.mp3">
    </audio>
    <div id= "page2">
      <!-- <section class="section static">
      </section> -->
      <section class="section parallax bg2">
        <div id="nanny">
        <div id="nanny_sil">
        </div>
        <div id="nannyUmbrella">
        </div>
      </div>
      <span id="tree">
      </span>
        <p id="scene1Type"> Blah blah blah story goes here.Blah blah blah...something something blah.</p>
        <p id="showType">
        </p>
        <div class="lightning">
          <!--An element that "flickers" through transparent pieces of art. See Lightning under Scene1 css  -->
        </div>
      </section>
    </div>
  </div>

  <div class="scene third_scene">
    <div id="page3">
      <section class="section parallax bg3">
        <audio id="knock" src="music/knock.wav">

        </audio>
        <div id="nanny_sil2">
        </div>
        <div id="feelersOne">
        </div>
        <div id="feelersTwo">
        </div>
        <div id="door"></div>
        <div id="mom"></div>
        <div id="shadow"></div>
        <button type="button" id="butt" name="button">KNOCK</button>

        <p id="trialType3">This is going to have many lines. I hope this works out properly. Scary story coming your way soon.</p>
        <p id="showType3"></p>
      </section>
    </div>
  </div>
  <div class="scene fourth_scene">
    <div id="page4">
      <section class="section parallax bg4">
        <h1>To the Front</h1>
        <div id="nanny_sil3"></div>
        <div id="nannyShadow_sprite"></div>
        <div id="children1"></div>
        <button id="sprite" type="button" name="button">sprite</button>
        <div class="lightning">
          <!--An element that "flickers" through transparent pieces of art. See Lightning under Scene1 css  -->
        </div>
      </section>

    </div>
  </div>
  <div class="scene fifth_scene">
    <div id="orange">
      <section class="section parallax bg5">
        <div id="nanny_piper">
        </div>
        <p id="trialType5">This is going to have many lines. I hope this works out properly. Scary story coming your way soon.</p>
        <p id="showType5"></p>
      </section>
    </div>
  </div>
  <div class="scene sixth_scene">
    <div id="pink">
      <section class="section parallax bg5">
        <h1>More</h1>
      </section>
    </div>
  </div>
    <div class="scene seventh_scene">
      <div id="grey">
        <section class="section parallax bg7">
          <h1>More</h1>
        </section>
      </div>
    </div>
</section>
</main>
<div id=scene1Background>
</div>
